.song-container {
    background-color: #fff;
    height: 100%;
}

.song-body {
    height: 600px;
    overflow: scroll;
}

.song-header {
    background-color: #34495e;
    padding: 25px;
}

.form-control {
    border: none;
    border-radius: 0.3rem;
}

.song-card {
    height: auto;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 15px;
    background-color: #fff;
    border-bottom: 0.5px solid #ecf0f1;
    cursor: pointer;
}

.song-card:hover {
    background-color: #ecf0f1;
}

.highlight {
    background-color: #ecf0f1;
}

.artwork {
    height: 75px;
    width: 75px;
    float: left;
    margin-left: 10px;
}

.text-section {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    margin-top: 3px;
}

.volume-icon {
    float: right;
    padding-right: 5%;
}

.song-name {
    display: block;
    font-size: 0.95rem;
    margin-bottom: 3px;
}

.artist-name {
    display: block;
    font-size: 0.85rem;
    margin-bottom: 1px;
}

.album-name {
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
}

.loader-container {
    height: 600px;
    padding-top: 40%;
}

.no-result {
    height: 600px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50%;
    opacity: 0.5;
}

.error-image {
    max-width: 100%; 
    display:block; 
    height: auto;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: auto;
}

.indicator {
    opacity: 1;
    animation: fade 2s linear infinite;
    line-height: auto;
}

.media-player {
    height: 60px;
    top: -60px;
    position: relative;
}

.footer {
    background-color: #34495e;
    height: 15px;
    position: relative;
    bottom: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fade {
  0%, 100% { opacity: 0 }
  50% { opacity: 1 }
}
