.song-container {
    background-color: #fff;
    height: 720px;
}

.song-body {
    height: 620px;
    overflow: scroll;
    border-bottom: 3px solid #2c3e50;
}

.song-header {
    background-color: #34495e;
    padding: 25px;
    height: 100px;
}

.form-control {
    border: none;
    border-radius: 0.3rem;
}

.song-card {
    height: auto;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 15px;
    background-color: #fff;
    border-bottom: 0.5px solid #ecf0f1;
    cursor: pointer;
}

.song-card:hover {
    background-color: #ecf0f1;
}

.highlight {
    background-color: #ecf0f1;
}

.artwork {
    height: 75px;
    width: 75px;
    float: left;
    margin-left: 10px;
}

.text-section {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    margin-top: 3px;
}

.volume-icon {
    float: right;
    padding-right: 5%;
}

.song-name {
    display: block;
    font-size: 0.95rem;
    margin-bottom: 3px;
}

.artist-name {
    display: block;
    font-size: 0.85rem;
    margin-bottom: 1px;
}

.album-name {
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
}

.no-result {
    height: 620px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50%;
    border-bottom: 3px solid #2c3e50;
}

.loader-container {
    height: 620px;
    padding-top: 50%;
    border-bottom: 3px solid #2c3e50;
}

.error-image {
    max-width: 100%; 
    display:block; 
    height: auto;
}

.media-player {
    height: 80px;
    top: 637px;
    width: 100%;
    position: absolute;
}

